html {
	box-sizing: border-box;
}

*,
*::before,
*::after { 
	box-sizing: inherit;
}


:root {
	--main-secondary-color: #757575;
	--main-color: #212121;
	--main-backg-color: #ffffff;
	--hover-color: #2196f3;
	--heder-backg-color: #2f303a;
	--main-section-color: #e5e5e5;
	--secondary-section-color: #f5f4fa;
	--main-btn-color: #188ce8;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-color);
	letter-spacing: 0.03em;
	background-color: var(--main-backg-color);
	font-size: 14px;
}

/* Margin - 0 */
h1,h2,h3,h4,h5,h6,p,ul { 
	margin: 0;
	padding: 0;
}

								/* Hide-titles */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

					/* hedear */
					/* logo */
.header { 
	display: flex;

	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	align-items: center;
	
}

									/*  Важливо - зміни */
.header .nav { 
	display: flex;
}
.main-contacts {
	display: flex;
	margin-left: auto;
}
.main-contacts .decor-contacts + .decor-contacts { 
	margin-left: 50px;
}
.header-nav {
	display: flex;
	
}
.decor-header { 
	align-self: center;
}

.nav .list-link +.list-link { 
	margin-left: 50px;
}



span {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;

}


.logo {
	
	color: var(--hover-color);
}
.logo-two {
	color: var(--main-color);
	margin-right: 93px;
}


						/* Containers */


.container { 
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

						/* ALL Sections */

.section { 
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-decor { 
	margin-bottom: 94px;
}

							/* LINKS decor*/

.link-decor {
	text-decoration: none;
}
						/* navigation */
						/* Важливо ( зміна )  */
.nav {
	padding-top: 32px;
	padding-bottom: 32px;
}

.nav .link {
	color: var(--main-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
	color: var(--hover-color);
}

.link-active:visited {
	color: var(--hover-color);
}

						/* contacts */
.main-contacts .contacts {
	color: var(--main-secondary-color);
}
.contacts {
	font-weight: 500;
	line-height: 1.14px;
	letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
	color: var(--hover-color);
}

						/*Main botton */
.main-btn {
	display: inline-block;
	min-width: 200px;

	border-radius: 4px;
	border: 1px solid transparent;
	/* height: 50px;
    left: 825px;
    top: 513px; */

	background: var(--hover-color);
	color: var(--main-backg-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	letter-spacing: 0.06em;

	font-family: inherit;
	cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
	background-color: var(--main-btn-color);
}

						/* HERO */

.hero {
	color: var(--main-backg-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
}


.hero-section {
	background-color: var(--heder-backg-color);
	text-align: center;
}


						/* second-hero */
.second-hero {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;

	margin-bottom: 50px;
}

							 /* First-list */
.first-list {
	display: flex;
}
/* .first-item { 
	margin-right: 30px;
} */
.first-list .first-item + .first-item {
	margin-left: 30px;
}

						/* title - about */
.title-about {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.42;
	text-transform: uppercase;

	margin-bottom: 10px;
}

								/* Work foto */
.second-list {
	display: flex;
}

.second-list .work-foto + .work-foto {
	margin-left: 30px;
}



								/* TEAM */

.third-list { 
	display: flex;
}

.third-list .team-foto + .team-foto {
	margin-left: 30px;
}

.our-team {
	background-color: var(--secondary-section-color);
}

.team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;

	margin-top: 30px;
	margin-bottom: 10px;
}

.team-foto {
	background-color: var(--main-backg-color);
}

.team-content {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	
	padding-bottom: 30px;
}

										/* параграфи (Р)*/

.content {
	color: var(--main-secondary-color);
}
.main-content {
	line-height: 1.71;
}
.second-content {
	font-size: 16px;
	line-height: 1.87;
}

											/* Списки */
.list {
	list-style: none;
}

												/* Footer!  */
.adress {
	background-color: var(--heder-backg-color);
	font-style: normal;
	min-height: 252px;
	
}

.adress-nav .addres-item + .addres-item {
	margin-top: 9px;
}

.logo-three {
	color: var(--main-backg-color);
}
.logo-footet {
	margin-bottom: 20px;
	
}
.location:hover,
.location:focus {
	color: var(--hover-color);
}

.location {
	color: var(--main-backg-color);
	font-weight: 400;
	line-height: 1.71;
}

.contact:hover,
.contact:focus {
	color: var(--hover-color);
}

.contact-footer {
	font-weight: 400;
	line-height: 1.71;
	/* or 171% */
	color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO  */

/* nav-buttons */
.second-nav {
	list-style: none;
}
.second-btn:hover,
.second-btn:focus {
	background-color: var(--hover-color);

	color: var(--main-backg-color);
}

.second-btn {
	display: inline-block;
	/* min-width: 73px; */
	min-height: 38px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	cursor: pointer;

	border: none;
	border-radius: 4px;
}

/* .btn-one {
    
}

.btn-two {
    
}

.btn-three {
    
}

.btn-four {
   
}

.btn-five {
  
} */

/* portfolio-title */

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	/* identical to box height, or 200% */
	letter-spacing: 0.06em;
	color: var(--main-color);
}

/* list proposition */
.proposition {
	list-style: none;
}

.portfolio-list {
	text-decoration: none;
}
